body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #050607;
  margin: 0;
  padding: 20px;
}

h2, h3 {
  color: #1a5276;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

form {
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

td {
  padding: 8px;
  vertical-align: middle;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #aed6f1;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

<<<<<<< HEAD
button[type="submit"] {
  background-color: #ed490e;
=======
/*button[type="submit"] {
  background-color: #2874a6;
>>>>>>> 9c042ee (farhinnew)
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 20px auto 0;
  transition: background-color 0.3s;
}*/

button[type="submit"]:hover {
  background-color: #1a5276;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.amenities-container {
  display: inline-block;
  margin-top: 5px;
}

textarea {
  min-height: 80px;
  resize: vertical;
  overflow-y: auto;
}